@model HMS.Areas.Dashboard.ViewModels.AccomodationTypeActionViewModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Create Accomodation Type
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="actionForm">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="Name" class="form-control" placeholder="Enter Accomodation Type Name">
                </div>
                <div class="form-group">
                    <label>Desctiption</label>
                    <textarea name="Description" class="form-control" placeholder="Enter Accomodation Type Description"></textarea>
                </div>
            </form>
        </div>
        <div class="erroDiv">

        </div>
        <div class="modal-footer">
            <button id="actionButton" type="button" class="btn btn-outline-primary"><i class="fas fa-save mr-1"></i> Save changes</button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fas fa-window-close mr-1"></i> Close</button>
        </div>
    </div>
}

<script>
    $('#actionButton').click(function () {
        $.ajax({
            url: '@Url.Action("Action","AccomodationTypes")',
            type: 'post',
            data: $('#actionForm').serialize(),
        }).done(function (response) {
            if (response.Success) {
                location.reload();
            }
            else {
                $('#erroDiv').html(response.Message);
            }
        });
    });
</script>